# .NET / Visual Studio / MAUI
bin/
obj/
.vs/

# macOS
.DS_Store

# Android / MAUI generated
**/*.apk
**/*.aab
**/*.idsig
**/*.keystore
**/*.jks

# Secrets
**/Secrets.cs

# Local logs / debug
logcat*.txt
**/logcat*.txt

